<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/Areas/help/assets/img/icon.ico" type="image/x-icon" />
    <meta charset="UTF-8" />
    <!-- Fonts and icons -->
    <script src="~/Areas/help/assets/js/plugin/webfont/webfont.min.js"></script>
    <script src="~/Areas/help/assets/js/core/jquery.3.2.1.min.js"></script>
    <script>
        var Gobal_Str = '自动刷新开启成功!';
        var GobalHub;
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/Areas/help/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/help/assets/css/azzara.min.css">
    <link href="~/Areas/Help/assets/js/plugin/datepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Scripts/xtiper/css/xtiper.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="~/Areas/help/assets/css/demo.css">
</head>
<body>
    <div class="wrapper">
        <!--
            Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
        -->
        <div class="main-header" data-background-color="purple">
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="~/Help/index" class="logo">
                    <img src="~/Areas/help/assets/img/logoazzara2.svg" alt="navbar brand" class="navbar-brand">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">

                <div class="container-fluid">
                    <span style="margin: 10px; color: white; font-size: x-large;">QRCODE Mt System v1.3</span>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item toggle-nav-search hidden-caret">
                            <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        @*<li class="nav-item dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-envelope"></i>
                                </a>
                                <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
                                    <li>
                                        <div class="dropdown-title d-flex justify-content-between align-items-center">
                                            Messages
                                            <a href="#" class="small">Mark all as read</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-notif-scroll scrollbar-outer">
                                            <div class="notif-center">
                                                <a href="#">
                                                    <div class="notif-img">
                                                        <img src="~/Areas/help/assets/img/jm_denis.jpg" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Jimmy Denis</span>
                                                        <span class="block">
                                                            How are you ?
                                                        </span>
                                                        <span class="time">5 minutes ago</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img">
                                                        <img src="~/Areas/help/assets/img/chadengle.jpg" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Chad</span>
                                                        <span class="block">
                                                            Ok, Thanks !
                                                        </span>
                                                        <span class="time">12 minutes ago</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img">
                                                        <img src="~/Areas/help/assets/img/mlane.jpg" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Jhon Doe</span>
                                                        <span class="block">
                                                            Ready for the meeting today...
                                                        </span>
                                                        <span class="time">12 minutes ago</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img">
                                                        <img src="~/Areas/help/assets/img/talha.jpg" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Talha</span>
                                                        <span class="block">
                                                            Hi, Apa Kabar ?
                                                        </span>
                                                        <span class="time">17 minutes ago</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="see-all" href="javascript:void(0);">See all messages<i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </li>*@
                        <li class="nav-item dropdown hidden-caret">
                            @*<a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification">4</span>
                                </a>*@
                            <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                <li>
                                    <div class="dropdown-title">You have 4 new notification</div>
                                </li>
                                <li>
                                    <div class="notif-scroll scrollbar-outer">
                                        <div class="notif-center">
                                            <a href="#">
                                                <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        New user registered
                                                    </span>
                                                    <span class="time">5 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        Rahmad commented on Admin
                                                    </span>
                                                    <span class="time">12 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-img">
                                                    <img src="~/Areas/help/assets/img/profile2.jpg" alt="Img Profile">
                                                </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        Reza send messages to you
                                                    </span>
                                                    <span class="time">12 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-icon notif-danger"> <i class="fa fa-heart"></i> </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        Farrah liked Admin
                                                    </span>
                                                    <span class="time">17 minutes ago</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="~/Areas/help/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="~/Areas/help/assets/img/profile.jpg" alt="image profile" class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <h4>@ViewBag.Role</h4>
                                            <p class="text-muted">@ViewBag.Name</p><a href="~/Help/User/Login" class="btn btn-rounded btn-danger btn-sm">切换账号</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    @*<div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">My Profile</a>
                                        <a class="dropdown-item" href="#">My Balance</a>
                                        <a class="dropdown-item" href="#">Inbox</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Account Setting</a>*@
                                    <div class="dropdown-divider"></div>
                                    <a onclick="EditPwdDlg('修改当前账号密码：')" class="dropdown-item" href="javascript:void(0)">修改密码</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="sidebar-background"></div>
            <div class="sidebar-wrapper scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="~/Areas/help/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @ViewBag.Name
                                    <span class="user-level">@ViewBag.Role</span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <div class="clearfix"></div>

                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="~/Help/User/Login">
                                            <span class="link-collapse">退出登录</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="EditPwdDlg('修改当前账号密码：')" href="javascript:void(0)">
                                            <span class="link-collapse">修改密码</span>
                                        </a>
                                    </li>
                                    @*<li>
                                            <a href="#settings">
                                                <span class="link-collapse">Settings</span>
                                            </a>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav">
                        <li id="IndexPage" onclick="IndexPage()" class="nav-item active">
                            <a href="#">
                                <i class="fas fa-home"></i>
                                <p>主页</p>
                                <span class="badge badge-count"></span>
                            </a>
                        </li>
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">管理中心</h4>
                        </li>
                        <li id="OrdersPage" class="nav-item">
                            <a data-toggle="collapse" href="#base">
                                <i class="fas fa-layer-group"></i>
                                <p>订单中心</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="base">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a id="order1" href="javascript:{whichOderCmd = 1;OrdersPage();}">
                                            <span class="sub-item">全部订单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="order2" href="javascript:{try {whichOderCmd = 2;loadOrdersData();} catch (e) { alert('请先浏览全部订单!');}}">
                                            <span class="sub-item">已付订单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="order3" href="javascript:{try {whichOderCmd = 3;loadOrdersData();} catch (e) { alert('请先浏览全部订单!');}}">
                                            <span class="sub-item">未付订单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="order4" href="javascript:{try {whichOderCmd = 4;loadOrdersData();} catch (e) { alert('请先浏览全部订单!');}}">
                                            <span class="sub-item">手工补单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="order5" href="javascript:{try {whichOderCmd = 5;loadOrdersData();} catch (e) { alert('请先浏览全部订单!');}}">
                                            <span class="sub-item">补回调</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="order6" href="javascript:{try {whichOderCmd = 6;loadOrdersData();} catch (e) { alert('请先浏览全部订单!');}}">
                                            <span class="sub-item">出马失败</span>
                                        </a>
                                    </li>
                                    @*<li>
                                            <a id="order6" href="javascript:{whichOderCmd =6;loadOrdersData();}">
                                                <span class="sub-item">异常订单</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="order7" href="javascript:{whichOderCmd =7;loadOrdersData();}">
                                                <span class="sub-item">客户分析</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="order8" href="javascript:{whichOderCmd =8;loadOrdersData()}">
                                                <span class="sub-item">屏蔽订单</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="order9" href="javascript:{whichOderCmd =9;loadOrdersData(); notifyMsg('flaticon-cross', '提示', '正在加载....', 'info');}">
                                                <span class="sub-item">风控订单</span>
                                            </a>
                                        </li>*@

                                </ul>
                            </div>
                        </li>

                        @{

                            if (ViewBag.Role.IndexOf("SuperAdmin") > -1 || ViewBag.Role.IndexOf("ShopManager") > -1 || ViewBag.Role.IndexOf("AgentManager") > -1)
                            {
                                <li id="ShopsPage" class="nav-item">
                                    <a data-toggle="collapse" href="#shops">
                                        <i class="fas fa-pen-square"></i>
                                        @{
                                            if (ViewBag.Role.IndexOf("AgentManager") > -1)
                                            {
                                                <p>代理中心</p>
                                            }
                                            else
                                            {
                                                <p>商户中心</p>
                                            }
                                        }

                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="shops">
                                        <ul class="nav nav-collapse">
                                            @{
                                                if (ViewBag.Role.IndexOf("SuperAdmin") > -1)
                                                {
                                                    <li onclick="AjaxPage('Shop/manage')">
                                                        <a href="javascript:void(0)">
                                                            <span class="sub-item">商户管理</span>
                                                        </a>
                                                    </li>

                                                }
                                            }


                                            @*<li onclick="AjaxPage('Shop/Agent')">
                                                    <a href="javascript:void(0)">
                                                        <span class="sub-item">商户代理</span>
                                                    </a>
                                                </li>*@

                                            @{
                                                if (ViewBag.Role.IndexOf("AgentManager") > -1 || ViewBag.Role.IndexOf("ShopManager") > -1)
                                                {
                                                    <li onclick="AjaxPage('Shop/Pay')">
                                                        <a href="javascript:void(0)">
                                                            <span class="sub-item">申请结算</span>
                                                        </a>
                                                    </li>
                                                }
                                            }


                                            @{
                                                if (ViewBag.Role.IndexOf("SuperAdmin") > -1 || ViewBag.Role.IndexOf("ShopManager") > -1 || ViewBag.Role.IndexOf("AgentManager") > -1)
                                                {
                                                    <li onclick="AjaxPage('Shop/History')">
                                                        <a href="javascript:void(0)">
                                                            <span class="sub-item">结算列表</span>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            @{
                                                if (ViewBag.Role.IndexOf("ShopManager") > -1)
                                                {
                                                    <li onclick="addWorkderDlg('请设置员工账号密码')">
                                                        <a href="javascript:void(0)">
                                                            <span class="sub-item">添加员工</span>
                                                        </a>
                                                    </li>
                                                    <li onclick="AjaxPage('Shop/WorkerList')">
                                                        <a href="javascript:void(0)">
                                                            <span class="sub-item">员工列表</span>
                                                        </a>
                                                    </li>
                                                }
                                            }





                                        </ul>
                                    </div>
                                </li>

                            }

                        }
                        @{
                            if (ViewBag.Role.IndexOf("SuperAdmin") > -1 || ViewBag.Role.IndexOf("RunManager") > -1)
                            {
                                <li class="nav-item">
                                    <a data-toggle="collapse" href="#maps">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>通道中心</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="maps">
                                        <ul class="nav nav-collapse">

                                            @{
                                                if (ViewBag.Role.IndexOf("SuperAdmin") > -1)
                                                {
                                                    <li onclick="AjaxPage('RunWay/Index')">
                                                        <a href="javascript:void(0)">
                                                            <span class="sub-item">账号管理</span>
                                                        </a>
                                                    </li>
                                                    <li onclick="AjaxPage('RunWay/Fen')">
                                                        <a href="javascript:void(0)">
                                                            <span class="sub-item">跑分码库*</span>
                                                        </a>
                                                    </li>
                                                    <li onclick="AjaxPage('RunWay/AgentRun')">
                                                        <a href="javascript:void(0)">
                                                            <span style="color:forestgreen" class="sub-item">跑分账号</span>
                                                        </a>
                                                    </li>
                                                }
                                            }

                                            @{
                                                if (ViewBag.Role.IndexOf("SuperAdmin") > -1 || ViewBag.Role.IndexOf("RunManager") > -1)
                                                {


                                                    <li onclick="AjaxPage('RunWay/channel')">
                                                        <a href="javascript:void(0)">
                                                            <span class="sub-item">码库管理</span>
                                                        </a>
                                                    </li>
                                                    <li onclick="AjaxPage('RunWay/Pay')">
                                                        <a href="javascript:void(0)">
                                                            <span class="sub-item">上分统计</span>
                                                        </a>
                                                    </li>
                                                }
                                            }


                                            @*<li onclick="AjaxPage('RunWay/QrcodeInfos')">
                                                    <a href="javascript:void(0)">
                                                        <span class="sub-item">码儿统计</span>
                                                    </a>
                                                </li>*@
                                        </ul>
                                    </div>
                                </li>

                            }
                        }

                        @*<li class="nav-item">
                                <a data-toggle="collapse" href="#tables">
                                    <i class="fas fa-table"></i>
                                    <p>配置中心</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="tables">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="sub-item">权限配置</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="sub-item">前端界面</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="sub-item">操作日记</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </li>*@


                        @{
                            if (ViewBag.Role.IndexOf("SuperAdmin") > -1)
                            {

                                <li class="nav-item">
                                    <a data-toggle="collapse" href="#submenu">
                                        <i class="far fa-chart-bar"></i>
                                        <p>代付中心</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="submenu">
                                        <ul class="nav nav-collapse">
                                            <li onclick="AjaxPage('Shop/RemittanceOrders')">
                                                <a href="javascript:void(0)">
                                                    <span class="sub-item">代付订单</span>
                                                </a>
                                            </li>
                                            <li onclick="AjaxPage('Shop/TongjiRemittanceShopOrders')">
                                                <a href="javascript:void(0)">
                                                    <span class="sub-item">商户统计</span>
                                                </a>
                                            </li>
                                            <li onclick="AjaxPage('Shop/Remittance')">
                                                <a href="javascript:void(0)">
                                                    <span class="sub-item">代付测试</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>



                            }

                        }

                        @{
                            if (ViewBag.Role.IndexOf("SuperAdmin") > -1)
                            {

                                <li class="nav-item" onclick="AjaxPage('Shop/Agents')">
                                    <a href="javascript:void(0)">
                                        <i class="flaticon-customer-support"></i>
                                        <p>代理列表</p>

                                    </a>
                                </li>



                            }

                        }



                        <li class="nav-item">
                            <a data-toggle="collapse" href="#charts">
                                <i class="far fa-chart-bar"></i>
                                <p>对接中心</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="charts">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="../../apiHelp/api2020.htm" target="_blank">
                                            <span class="sub-item">对接文档</span>
                                        </a>
                                    </li>
                                    <li onclick="AjaxPage('Index/Test')">
                                        <a href="javascript:void(0)">
                                            <span class="sub-item">通道测试</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        @{
                            if (ViewBag.Role.IndexOf("WorkerManager") > -1)
                            {
                                <li class="nav-item" onclick="AjaxPage('shop/worker')">
                                    <a href="javascript:void(0)">
                                        <i class="fas fa-desktop"></i>
                                        <p>人工拉码</p>
                                        <span class="badge badge-count badge-success">*</span>
                                    </a>
                                </li>
                                <li class="nav-item" onclick="AjaxPage('shop/worker2')">
                                    <a href="javascript:void(0)">
                                        <i class="fas fa-desktop"></i>
                                        <p>人工拉卡</p>
                                        <span class="badge badge-count badge-success">*</span>
                                    </a>
                                </li>

                                @*<li class="nav-item" onclick="AjaxPage('shop/dr')">
                                        <a href="javascript:void(0)">
                                            <i class="fas fa-desktop"></i>
                                            <p>TestAjax</p>
                                            <span class="badge badge-count badge-success">*</span>
                                        </a>
                                    </li>

                                    <li class="nav-item"  onclick="AjaxPage('shop/worker2')">
                                        <a href="javascript:void(0)">
                                            <i class="fas fa-desktop"></i>

                                            <span class="sub-item">人工拉卡</span>
                                        </a>
                                    </li>*@

                            }
                        }




                        <li class="nav-item">
                            <a data-toggle="collapse" href="#custompages">
                                <i class="fas fa-paint-roller"></i>
                                <p>服务中心</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="custompages">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="sub-item">提交工单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="sub-item">查看工单</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        @*<li class="nav-item">
                                <a data-toggle="collapse" href="#submenu">
                                    <i class="fas fa-bars"></i>
                                    <p>商家排名</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="submenu">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a data-toggle="collapse" href="#subnav1">
                                                <span class="sub-item">件数王</span>
                                                <span class="caret"></span>
                                            </a>

                                        </li>
                                        <li>
                                            <a data-toggle="collapse" href="#subnav2">
                                                <span class="sub-item">优秀Top</span>
                                                <span class="caret"></span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="sub-item">不合格</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                <div id="content" class="page-inner">
                    <!-- 开始的地方 -->
                    @RenderBody()
                    <!-- 结束的地方 -->
                </div>
            </div>
            @*<div style="margin:auto;text-align:center">
                    Copyright &copy; @DateTime.Now.Year BTCoin Company inc. All rights reserved.
                </div>*@
        </div>


    </div>

    <!--   Core JS Files   -->
    <script src="~/Areas/help/assets/js/core/popper.min.js"></script>
    <script src="~/Areas/help/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Areas/help/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Areas/help/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/Areas/help/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Moment JS -->
    <script src="~/Areas/help/assets/js/plugin/moment/moment.min.js"></script>

    <!-- Chart JS -->
    <script src="~/Areas/help/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/Areas/help/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/Areas/help/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/Areas/help/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/Areas/help/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Bootstrap Toggle -->
    <script src="~/Areas/help/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/Areas/help/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Areas/help/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Google Maps Plugin -->
    @*<script src="~/Areas/help/assets/js/plugin/gmaps/gmaps.js"></script>*@

    <!-- Sweet Alert -->
    <script src="~/Areas/help/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Azzara JS -->
    <script src="~/Areas/help/assets/js/ready.min.js"></script>

    <!-- Azzara DEMO methods, don't include it in your project! -->
    <script src="~/Areas/help/assets/js/setting-demo.js"></script>
    <script src="~/Areas/help/assets/js/demo.js"></script>
    <!-- Azzara DEMO methods, don't include it in your project! -->

    <script src="~/Scripts/xtiper/js/xtiper.min.js"></script>


    @Scripts.Render("~/bundles/jsignalR")
    <script src="/signalr/js"></script>
    <script src="~/Areas/Help/assets/js/AdminHub/admin.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['/Areas/help/assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });


        //设置员工账号
        function addWorkderDlg(a) {
            var option = {
                title: a + ':',
                popupTime: 0,
                hook: {
                    initStart: function () {
                        // 检查之前老旧实例如果存在则销毁
                        if (document.querySelector('#modal-layer-container'))
                            ModalLayer.removeAll();
                    }
                },
                displayProgressBar: true,
                displayProgressBarColor: 'red',
                displayProgressBarPos: 'right',
                content: '<input id="workID" type="text" style=" width: 110px; height: 24px; font-size: 16px; color: red;" placeholder="员工账号"><input id="workPT" type="text" style="width: 110px; height: 24px; font-size: 16px; color: red;" placeholder="提成格式: 0.06"><input id="workPwd" type="text" style="width: calc(100% - 2px); height: 24px; font-size: 16px; color: red;" placeholder="登录密码!不可外泄...">',
                okText: '提交',
                noText: '取消',
                callback: {
                    ok: function () {
                        this.hide();
                        var u = this.getNodes().container.querySelector('#workID').value;
                        var p = this.getNodes().container.querySelector('#workPT').value;

                        var pwd2 = this.getNodes().container.querySelector('#workPwd').value;

                        hub.server.addWorker(u, pwd2, p).done(function (result) {

                            if (result == 1) {
                                alert("操作成功！");


                            } else {
                                alert("操作失败,请检查数据格式!");
                            }

                        }).fail(function (err) {
                            alert('错误：' + err);
                        });
                        this.hide();
                    },
                }
            };

            ModalLayer.prompt(option);

        }


        //修改账号密码
        function EditPwdDlg(a) {
            var option = {
                title: a,
                popupTime: 0,
                hook: {
                    initStart: function () {
                        // 检查之前老旧实例如果存在则销毁
                        if (document.querySelector('#modal-layer-container'))
                            ModalLayer.removeAll();
                    }
                },
                displayProgressBar: true,
                displayProgressBarColor: 'red',
                displayProgressBarPos: 'right',
                content: '<input id="oldPwd" type="text" style="width: calc(100% - 2px); height: 24px; font-size: 16px; color: red;" placeholder="请输入当前密码..."><input id="newPwd" type="text" style=" width: calc(100% - 2px); height: 24px; font-size: 16px; color: green;" placeholder="请输入新密码...">',
                okText: '提交',
                noText: '取消',
                callback: {
                    ok: function () {
                        this.hide();
                        var u = this.getNodes().container.querySelector('#oldPwd').value;
                        var p = this.getNodes().container.querySelector('#newPwd').value;

                        hub.server.editPwd(u, p).done(function (result) {

                            if (result == "ok") {
                                alert("操作成功！");


                            } else {
                                alert("操作失败," + result);
                            }

                        }).fail(function (err) {
                            alert('错误：' + err);
                        });
                        this.hide();
                    },
                }
            };

            ModalLayer.prompt(option);

        }


    </script>
    <!--核心样式-->
    <link rel="stylesheet" href="~/Areas/Help/assets/css/modallayer.min.css">

    <!--插件-->
    <script src="~/Areas/Help/assets/js/modallayer-ie.min.js"></script>
</body>
</html>